<h1><%= "#{ current_user.name }'s Restaurants" %></h1>
<ul>
  <% @restaurants.each do |r| %>
    <li>
      <strong><%= r.name %></strong>
    </li>
  <% end %>
</ul>

<%= link_to 'create', new_owners_restaurant_path %>

